[submodule "extern/fceux_learningenv"]
	path = extern/fceux_learningenv
	url = git@github.com:PeerM/FCEUX_Learning_Environment.git
[submodule "extern/nes-async-rl"]
	path = extern/nes-async-rl
	url = https://github.com/PeerM/async-rl-fork.git
	branch = origin/eb
